/* SKINS */
.mod-pedal{{{cns}}} {
    border-radius: 20px;
}

.mod-pedal-blue{{{cns}}} {
    background-image: url(/resources/heads/pedal.png{{{ns}}});
    background-position: center center;
    background-repeat: no-repeat;
    font-family: Helvetica,Arial,Sans-serif;
    height: 200px;
    position: relative;
    width: 800px;
}

.mod-pedal-blue{{{cns}}} .mod-pedal-input,
.mod-pedal-blue{{{cns}}} .mod-pedal-output {
    top: 40px;
}

/* THE AUTHOR */
.mod-pedal{{{cns}}} .mod-plugin-brand h1 {
    top: 30px;
    color: #4d7063;
    font-size: 14px;
    font-weight: bold;
    left: 62px;
    line-height: 1;
    margin: 0;
    position: absolute;
}

/* CONTROLS */
.mod-pedal{{{cns}}} .mod-control-group {
    border-style: none;
    bottom: 149px;
    color: #999;
    font-size: 10px;
    font-weight: bold;
    height: 71px;
    left: 58px;
    position: absolute;
    right: 8px;
    top: 57px;
}

.mod-pedal{{{cns}}} .mod-control-group > div {
    margin-right: 2px;
}

/* SWITCH ON/OFF GENERAL */
.mod-pedal{{{cns}}} .mod-switch {
    cursor: pointer;
    float: left;
    height: 71px;
    position: relative;
    width: 71px;
}

.mod-pedal{{{cns}}} .mod-switch-image {
    background-image: url(/resources/switches/pswitch.png{{{ns}}});
    background-position: -8px 0px;
    background-repeat: no-repeat;
    background-size: auto 71px;
    margin-top: 18px;
    height: 71px;
    width: 71px;
}

.mod-pedal{{{cns}}} .mod-switch-image.on {
    background-position: -79px 0px;
}

.mod-pedal{{{cns}}} .mod-switch-image.off {
    background-position: -8px 0px;
}

/* SWITCH ON/OFF - 0800 */
.mod-pedal-blue{{{cns}}} .mod-switch {
    width: 110px;
}


/* CHICKEN HEAD */
.mod-pedal{{{cns}}} .knob {
    float: left;
    height: 101px;
    overflow: hidden;
    position: relative;
    text-align: center;
    width: 71px;
    margin-left: 18px;
}

.mod-pedal{{{cns}}} .knob .knob-image {
    background-image: url(/resources/knobs/knob.png{{{ns}}});
    background-position: left 0px;
    background-repeat: no-repeat;
    background-size: auto 71px;
    height: 71px;
    margin-top: 18px;
    position: relative;
    width: 71px;
    z-index: 2;
}

.mod-pedal{{{cns}}} .knob .knob-title {
    font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
    font-size: 10px;
    font-weight: bold;
    left: 0;
    position: absolute;
    right: 0;
    text-transform: uppercase;
    top: 0;
    z-index: 1;
}
